<p id="notice"><%= notice %></p>

<p>
  <strong>作成者:</strong>
  <%= @recipe.users[0].uid[0..9] %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @recipe.image.thumb.url %>
</p>

<p>
  <strong>Title:</strong>
  <%= @recipe.title %>
</p>

<p>
  <strong>Catch copy:</strong>
  <%= @recipe.catch_copy %>
</p>

<p>
  <strong>People:</strong>
  <%= @recipe.people %>
</p>

<p>
  <strong>Point:</strong>
  <%= @recipe.point %>
</p>

<p>
  <strong>Rarly life:</strong>
  <%= @recipe.rarly_life %>
</p>

<%#= link_to 'Edit', edit_recipe_path(@recipe) %>

<h1>つくれぽ！</h1>

<%= form_tag("/report", method: "POST") do %>
  <%= text_field_tag(:body) %>
  <%= file_field_tag :image %>
  <%= hidden_field_tag "recipe_id", @recipe.id %>
  <%= button_tag "投稿", :class => 'btn btn-primary'  %>
<% end %>

<% @recipe.reports.each do |repo| %>
  <%= image_tag repo.repo.url %>
  <%= repo.body %>
  <%= repo.users[0].uid[0..9] %>
<% end %>
