<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <ol>
    <li><%= link_to "Top", :root %></li>
    <li><%= link_to "レシピ一覧", :recipes %> </li>
    <% if current_user %>
      <li><%= link_to "SignOut", :sign_out %></li>
    <% else %>
      <li><%= link_to "SignIn", :sign_in %></li>
      <li><%= link_to "SignUp", :sign_up %></li>
    <% end %>
  </ol>
  <body>
    <main>
    <%= yield %>
    </main>
  </body>
</html>
